<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
    <appSettings>
      <add key="ProfilesFilePath" value="c:\Development\profiles.json"/>
      <add key="CustomAPI" value="/services/apexrest/v1/ASN__c"/>
      <add key="httpVerb" value="Patch"/>
      <!-- <add key="httpVerb" value="Patch"/> -->
    </appSettings>


</configuration>